<form action="">
  <input id="trackName" type="text" placeholder="Track name"/>
  <input id="trackSnippet" type="text" placeholder="Track snippet"/>
  <!-- <input type="submit" ng-click="update(user)" value="Save" /> -->
  <br>
  Track image: <input id="trackImage" type="file" />
  <button type="submit" class="btn btn-primary" ng-click="updateTrackData()"> Update track data </button>
  <!-- <button type="submit" class="btn btn-primary" ng-click="upload()"> Upload </button> -->
  <input type="reset" class="btn btn-danger" value="Reset form" />
</form>
