 body {
  padding: 20px;
}
/*
h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

.musics {
  list-style: none;
}

.musics li {
  clear: both;
  height: auto;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: 1rem;
  width: 100px;
}

.music {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.music:first-child {
  display: block;
}

.music-images {
  float: left;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.music-thumbs {
  list-style: none;
  margin: 0;
}

.music-thumbs img {
  height: 120px;
  padding: 1em;
  width: 150px;
}

.music-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
} */
