<ul class="musics" ng-if="!$scope.tracks">
  <li ng-repeat="track in recievedTracks" class="thumbnail"> 
    <div class="row">
      <div class="col-md-5">
        <a ng-href="#!/musics/{{track._id}}" class="thumb">
          <img ng-src="{{track.media.image}}" alt="{{track.name}}" />
        </a>
      </div>
      <div class="col-md-5">
        <a ng-href="#!/authors/{{track.author}}">{{track.author}}</a> - <a ng-href="#!/musics/{{track._id}}">{{track.name}}</a>
        <p>{{track.media.snippet}}</p>
        <audio controls>
          <source ng-src="{{track.media.result}}" type="audio/mpeg"> 
        </audio>
      </div>
    </div>
    <hr>
  </li>
</ul>